:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.header{
    background-color:darkcyan;
    padding-left: 30px;
    padding-bottom: 10px;
    color: aqua;
}

.footer{
    background-color:darkcyan;
    padding-left: 30px;
    padding-bottom: 10px;
    color: aqua;
}

a{
    color: aqua;
    padding-left: 30px;
}

.photo-row{
  display: flex;
  gap: 20px;
  padding-bottom: 10px;
}

.photo-item{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo-item img{
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.order-amount-selection{
  width: 30px;
}