:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 5px;
  border: 1px solid transparent;
  font-weight: 500;
  font-family: inherit;
  background-color:darkgrey;
  color: black;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  background-color: darkcyan;
  color: aqua;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

.header{
    background-color:darkcyan;
    padding-left: 30px;
    padding-bottom: 15px;
    color: aqua;
}

.footer{
    background-color:darkcyan;
    padding-left: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
    color: aqua;
    font-size: 20px;
}

a{
    color: aqua;
    padding-left: 30px;
    font-size: 20px;
    text-decoration: none;
}

.food-menu{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: 20px;
  gap: 20px;
  padding-bottom: 10px;  
}

.food-card img{
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 25px;
}

.food-card{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  padding-left: 10px;
  gap: 20px;
}

.food-card-content{
  flex-wrap: flex;
  justify-content: center;
  padding: 20px;
  border-style: solid;
  border-color:darkcyan;
  border-radius: 25px;
  width: 200px;
}

.order-amount-selection{
  width: 30px;
}

#food-description{
  text-align: left;
}

