:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 5px;
  border: 1px solid transparent;
  font-weight: 500;
  font-family: inherit;
  background-color:darkgrey;
  color: black;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  background-color: darkcyan;
  color: aqua;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

.header{
    background-color:darkcyan;
    padding-left: 30px;
    padding-bottom: 15px;
    color: aqua;
}

.footer{
    background-color:darkcyan;
    padding-left: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
    color: aqua;
    font-size: 20px;
}

a{
    color: aqua;
    padding-left: 30px;
    font-size: 20px;
    text-decoration: none;
}

.food-menu{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: 20px;
  gap: 20px;
  padding-bottom: 10px;  
}

.food-card img{
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 25px;
}

.add-to-cart-button{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: darkcyan;
  color: aqua;
  font-size: 15px;
  font-weight: bold;
  margin-left: 20px;
  margin-right: 10px;
  display:inline-flex;
  align-items: center;
  justify-content: center;
}

.food-card{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  padding-left: 10px;
  gap: 20px;
}

.food-card-container{
  flex-wrap: flex;
  justify-content: center;
  padding: 20px;
  border-style: solid;
  border-color:darkcyan;
  border-radius: 25px;
  width: 200px;
  text-wrap: wrap;
}

.order-amount-selection{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: darkcyan;
  color: aqua;
  font-size: 20px;
  font-weight: bold;
  display:inline-flex;
  margin-left: 20px;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
}

#food-description{
  text-align: left;
}

.login-title{
  font-size: 20px;
  color: darkcyan;
  font-weight: bold;
}

.login-button{
  font-size: 20px;
  background-color: darkcyan;
  color: aqua;
  font-weight: bold;
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
}

.login-button:hover {
  background-color: aqua;
  color: darkcyan;
}

.view-cart-button{
  font-size: 20px;
  background-color: darkcyan;
  color: aqua;
  font-weight: bold;
  border-radius: 10px;
  padding: 5px;
  margin-left: 30px;
}

.view-cart-button:hover {
  background-color: aqua;
  color: darkcyan;
}

.signup-form{
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid darkcyan;
  border-radius: 10px;
  background-color: #f9f9f9;
  align-items: center;
}

.signup-placeholder{
  font-size: 15px;
  margin: 10px;
  padding: 5px;
  padding-left: 30px;
  border-radius: 5px;
  border: 1px solid darkcyan;
}

.login-placeholder{
  font-size: 15px;
  margin: 10px;
  padding: 5px;
  padding-left: 30px;
  border-radius: 5px;
  border: 1px solid darkcyan;
}

.view-cart-title{
  font-size: 30px;
  color: darkcyan;
  font-weight: bold;
  padding-left: 30px;
}

.view-cart{
  padding-left: 30px;
  flex-direction: column;
  padding: 20px;
}

.view-cart img{
  width: 75px;
  height: 75px;
  object-fit: cover;
  border-radius: 15px;
}